# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

* List popular languages for Data Science
* Commonly Used Libraries for Data Science
* Tools used for Data Science

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL 
4. Java
5. Javascript

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Plotly
3. Numpy

| Data Science Tools |
----------------------
| Apache Hadoop |
| Apache Spark |
| Tableau |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author

Robert Reynolds